.ant-dropdown-body {
  background: $white;
  box-shadow: 0 6px 20px -2px $grayish-blue-100;
  border-radius: 6px;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #f9f9fa;
}

.ant-dropdown-body-inner {
  padding: 15px;
}
