.ant-avatar {
  background-color: $white;

  &.ant-avatar-square {
    border-radius: 5px;
  }
}

.ant-avatar-string {
  display: block;
  width: 100%;
  height: 100%;
  left: auto;
  position: relative;
  transform: none !important;
  line-height: 1 !important;
}

.user-default-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
}
