.ant-form {
  label {
    font-size: 15px;
  }
}

.ant-form-item {
  margin-bottom: 20px;
}

.ant-form-item-children-block {
  .ant-form-item-children {
    display: block;
  }
}

.ant-form-item-label {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;

  & > label::after {
    display: none;
  }

  &.custome {
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }

    label,
    .simple-select-custme-label {
      width: 100%;
      display: flex;
      align-items: center;

      @media (max-width: $md) {
        align-items: flex-start;
      }
    }
  }
}

.ant-form-item-control {
  line-height: initial;
}

.simple-select-custme-label {
  @media (max-width: $sm) {
    flex-direction: column;
  }

  .simple-select {
    @media (max-width: $md) {
      margin-left: 0 !important;
    }

    &:not(:last-of-type) {
      @media (max-width: $md) {
        margin-bottom: 10px;
      }
    }
  }
}

.ant-form-item-label:not(.custome) {
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);

  label {
    color: $grayish-blue-500;
    font-size: 10px;
  }
}
