.ant-modal-mask {
  background-color: rgba(#eff0ff, 0.8);
}

.ant-modal-content {
  box-shadow: 0 6px 20px -2px #c9cad6;
  border-radius: 6px;
}

.ant-modal-centered .ant-modal {
  padding-top: 24px;
}
