$white: #ffffff;
$black: #000000;

$gray-100: #fafbff;
$gray-200: #f1f2f7;
$gray-300: #7b7c86;

$grayish-blue-100: #eff0ff;
$grayish-blue-200: #969696;
// $grayish-blue-200: #dbdcea;
$grayish-blue-300: #dddef3;
$grayish-blue-400: #b6b7c6;
$grayish-blue-500: #7a7c97;

$red: #dd2705;
$orange: #fda94c;
$blue: #0636cc;
$blue-900: #363151;
$blue-rgb: rgba(#9bb2ff, 0.7);
$green: #07885b;
$cyan-100: #10bad5;
$cyan-200: #3cc8dd;
$cyan-300: #196679;
$cyan-400: #0b404e;

$blue-gradient-100: linear-gradient(261deg, #2457ff 1%, #0d0a98 92%);
$blue-gradient-200: linear-gradient(270deg, #4e2687 0%, #0d0a98 100%);
$blue-gradient-300: linear-gradient(261deg, #2488ff 1%, #0636cc 92%);
$cyan-gradient: linear-gradient(90deg, #3cc8dd 28%, #84ffd5 100%);
$yellow-gradient: linear-gradient(261deg, #ffd33b 1%, #ffa247 92%);
$orange-gradient: linear-gradient(270deg, #ffa247 0%, #ff6b00 76%);

$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$osx: 1439.98px;
